.catalog__cotainer{
  background-image: url(/images/bg_1.png);
  background-size: 790px auto;
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 1px;
}


.catalog__title {
  margin-bottom: 110px;
  margin-top: 220px;
  font-size: 70px;
  font-weight: 400;
  line-height:78px ;
  text-align: center;
}