
.header {
  background-color:#edecf6;
  padding: 25px 0;
  width: 100%;
}

.header__container {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
}

/* Логотип */
.header__logo {
  flex-grow: 1; /* Занимает место слева */
  display: flex;
}

.header__logo-img {
  height: 55px;
  width: auto;
  display: block;
}

/*  Навигация */
.header__menu {
  flex-grow: 2; /* Меню занимает центральную часть */
  display: flex;
  justify-content: center; /* Центрируем само меню */
}

.header__list {
  display: flex;
  gap: 45px; 
}

.header__link {
  text-decoration: none;
  color: #515076;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease;
  cursor: pointer;
}

.header__link:hover {
  color: #a26ac9bb;
}

/* Корзина */
.header__basket-link {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end; /* Прижимаем иконку к правому краю */
  transition: transform 0.2s ease;
}

.header__basket-icon {
  cursor: pointer;
  width: 30px;
  height:35px;

}

.header__basket-link:hover .header__basket-icon {
  filter: brightness(0) saturate(100%) invert(45%) sepia(13%) saturate(1227%) hue-rotate(210deg) brightness(98%) contrast(89%);
  transform: scale(1.1); /* Немного увеличиваем иконку */
}