.products {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  justify-content: center;
  width: 1110px;
}

.products__item {
  width: 340px;
}

.products__item--featured {
  background: #e8daf3; 
  border: 2px solid #e2c9f5;
  color: #a26ac9bb;
  padding: 32px 24px;
  width: 340px;
}

.products__item--featured:hover {
  transform: scale(1.03);
  background: #e7d1f6; 
  border: 2px solid #e2c6f6;
}
