body {
  font-family: Montserrat, sans-serif; 
  font-size: 13px;
  color:#515076 ;
}

.title {
  font-size: 70px;
  font-weight: 400;
  line-height:78px ;
  margin: 0;
  text-align: center;
}

.products-list {
  list-style:none ;
  padding: 0;
  margin: 0; 

}

.main-text {
  font-size: 13px;
  line-height: 18px;
}


.card {
  background-color:#F7F7FA ;
  padding: 25px;
  margin-bottom: 30px;
  width: 300px;
  margin-left: 85px;
}

.price {
  font-size: 20px;
  line-height: 24px;
}

img {
  margin-bottom: 20px;
}

.text {
  font-size: 12px;
  line-height: 24px;
}

.subtitle {
  font-size: 20px;
  line-height: 27px;
}